title{
font-family: Verdana;
}


body{
background-color: red;
}
h1{
font-family: Verdana;
}
p{
font-family: Verdana;
}
h2{
font-family: Verdana;
}
ol{
font-family: Verdana;
}
ul{
font-family: Verdana;
}
li{
font-family: Verdana;
}
